// .additional{}

// .additional__form{}

// .additional__fieldset{}

.additional__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $black;
}

// .additional__input{}

.additional__label {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $grey_4;
}

.additional-button {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $white;
  background-color: $green_38;
}

.additional__text {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $black;
}
