.additional-column {
  background-image: url("../../images/icons/stack.svg#catalog_icon_gift");
  background-color: $green_38;
  opacity: 85;
}

.additional-column__text {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $white;
}
