// .advantages{}

.advantages__title {
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: $black;
}

.advantages__background {
  font-family: $title-font;
  font-size: 280px;
  font-weight: 400;
  line-height: 280px;
  text-align: center;
  color: $light_f2;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  // counter-reset: number 0;
  counter-reset: numbers;
}

.advantages__item {
  display: block;
  min-height: 280px;
  min-width: 230px;
  position: relative;
  padding-left: 70px;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-color: $green_38;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    background-position: center;
  }
}

.advantages__image {
  color: $white;
  background-color: $green_38;
}

.advantages__paragraph {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $grey_4;
}

.advantages__item::after {
  content: counter(numbers);
  display: block;
  position: absolute;
  color: #f2f2f2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 280px;
  line-height: 280px;
  z-index: -1;
  right: 0;
  top: 0;
  counter-increment: numbers;
}

.advantages__image1::before {
  background-size: 30px 32px;
  background-image: url("../../images/icons/stack.svg#advantages1");
}

.advantages__image2::before {
  background-size: 30px 32px;
  background-image: url("../../images/icons/stack.svg#advantages2");
}

.advantages__image3::before {
  background-size: 30px 32px;
  background-image: url("../../images/icons/stack.svg#advantages3");
}

.advantages__image4::before {
  background-size: 30px 32px;
  background-image: url("../../images/icons/stack.svg#advantages4");
}
