.catalog__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.catalog-card__info,
.catalog-card__text {
  margin: 0;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $grey_4;
}
