// .comments{}

// .comments__form{}

// .comments__fieldset{}

.comments__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $black;
}

.comments__input {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $grey_4;
}
