// .contacts {

// }
.contacts__title {
  font-family: $title-font;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  color: $black_1;
}

.contacts__address .contacts__city {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: $grey_4;
}
