// .footer-top {}

.footer-top__wrapper {
  background-color: $light_f2;
}

.footer__top-index {
  background-color: $white;
}

.footer-top__title {
  font-family: $title-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $black_1;
}

// .footer-top__address-wrapper {}

.footer-top__address.footer-top__city {
  font-family: $title-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $grey_4;
}
