.form__label {
  font-family: $title-font;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: $grey_4;
}

.form__input {
  font-family: $title-font;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: $grey_4;
}

.form__label-comment {
  width: 280px;
  height: 150px;
  top: 890px;
  left: 20px;
  border: 1px;
  color: $light_e7;
}
