// .hero {

// }
.hero__title {
  margin: 0;
  font-family: $title-font;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
  color: $black;
}

.hero__text {
  margin: 0;
  font-family: $title-font;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: $black;
  text-transform: uppercase;
}
