// .info-block{}

// .info-block__form{}

// .info-block__fieldset{}

.info-block__title {
  font-family: $title-font;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: $black;
}

.info-block__paragraph {
  font-family: $title-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $black;
}

// .info-block__data-section{}

// .info-block__radio-button{}
