// .main{}

.main__image--background {
  background-image: url("images/index-background-mobile@1x");
  background-color: $green_38;

  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    background-image: url("images/index-background-desktop@1x");
  }
}

