// .main-header__nav{}

.main-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
}

.main-header__image {
  background-image: url("images/icons/stack.svg#logo_mobile");
  width: 33px;
  height: 38px;
}

.main-header__logo--text {
  background-image: url ("images/icons/stack.svg#logo_cat_energy");
  width: 101px;
  height: 18px;
}

.main-header__logo {
  height: 85px;
}

@media (min-width: $tablet-width) {
  .main-header__image {
    background-image: url("images/icons/stack.svg#logo_tablet");
    order: 2;
    width: 60px;
    height: 50px;
  }

  .main-header__logo--text{
    order: 2;
    width: 101px;
    height: 18px;
  }

  .main-header__logo {
    order: 2;
    width: 174px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__image {
    background-image: url("images/icons/stack.svg#logo_desktop");
    order: 2;
    width: 70px;
    height: 59px;
  }

  .main-header__logo--text{
    order: 2;
    width: 118px;
    height: 21px;
  }

  .main-header__logo {
    order: 2;
    width: 202px;
    height: 59px;
  }
}
