// .nav__toggle{}

// .nav__wrapper{}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 436px;
  margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .nav__wrapper {
    width: 478px;
  }
}
