// .option{}

// .option__list{}

.option__item {
  background-color: $light_f2;
}

.option__title {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: $black;
}

.option__paragraph {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $grey_4;
}

// .option__button-link{}

.option-button {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $black;
}
